<h2 style="color: black; margin-left: -80px">Quên mật khẩu</h2>
    
      <div class="main" >
        <form action="reset" id = "frmReset" method="post">
            <input type="text" id="Username" name="Username" placeholder="Tên đăng nhập" required autofocus>
            {{!-- <input type="hidden" id="PasswordNew" name="PasswordNew" placeholder="Mật khâu mới" required>
            <input type="hidden" id="PasswordConfirm" name="PasswordConfirm" placeholder="Nhập lại mật khẩu mới" required> --}}
            <button style="margin-left: 600px; margin-top: 6px;" class="btn btn-dark btn-lg px-5 reset" type="submit">Reset</button>
            <h3 style="margin-left:550px; margin-top: 20px; color:green">Mật khẩu mới sẽ được gửi về Email của tài khoản!</h3>
            <h3 style="margin-left:580px; margin-top: 10px; color:green">Quá trình có thể mất vài giây. Vui lòng chờ!</h3>
        </form>
      </div>